@import "../../styles/bundle.scss";

.section-item {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.item-photo {
  display: flex;
  flex-direction: column;

  .swiper {
    width: 600px;
  }
}

.item-info {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.item-desc {
  max-width: 400px;
}

.item-title {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.item-sex {
  color: #7c7b7b;
  margin-bottom: 5px;
}

.item-price {
  font-size: 24px;
  margin-bottom: 15px;
}

.btn-fav {
  font-size: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  opacity: 0.4;
  transition: .3s all;
  cursor: pointer;
}

.btn-fav:hover, .btn-fav:focus, .btn-fav:active {
  opacity: 1;
  background-color: rgba(124, 123, 123, 0.32);
}

.item-size {
  margin-bottom: 30px;
}

.item-size button {
  border: 1px solid grey;
  border-radius: 6px;
  transition: .2s all;
  background-color: rgba(95, 158, 160, 0.4);
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.item-size button:hover, .item-size button:focus, .item-size button:active {
  border-color: #408d9a;
  color: white;
}

.size-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-cart {
  @include button-cart;
}

.btn-cart img {
  margin-left: 10px;
}

.btn-cart:hover, .btn-cart:focus, .btn-cart:active {
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.32);
}

.item-btns {
  display: flex;
  gap: 20px;
}