@import "variables";

/// MIXINS ///

@mixin button-favourite {
  color: white;
  font-family: 'Inter', serif;
  background-color: $black-100;
  padding: 20px 10px;
  border: none;
  border-radius: 15px;
  transition: .3s all;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 300px;

  &:hover,&:focus {
    background-color: $button-hover;
  }
  &:active {
    background-color: $button-pressed;
  }
}

@mixin button-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $black-40;
  padding: 20px 10px;
  border: none;
  border-radius: 15px;
  transition: .3s all;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 300px;

  &:hover,&:focus {
    background-color: $button-hover;
  }
  &:active {
    background-color: $button-pressed;
  }
}

@mixin title {
  color: $black-100;
  font-size: 28px;
  font-weight: 600;
}

