/// VARIABLES ///

$red-100: #EC6259;
$red-5: #FDEEED;

$orange-120: #A34716;
$orange-100: #FF8B37;
$orange-5: #FFF3EB;

$green-100: #47D867;
$green-5: #E6FAEA;

$white-100: #FFFFFF;
$black-5: #F5F5F7;
$black-40: #D0D0D8;
$black-100: #1C1C21;