.brands-slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.brands-track {
  display: flex;
  animation: slide 60s linear infinite;
}

.brands-track img {
  height: 40px; /* Adjust the height of the logos */
  margin: 0 60px; /* Adjust the spacing between logos */
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}