.section-bestsellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bestsellers-list {
  display: grid;
  grid-template-columns: 2fr auto;
}

.bestsellers-title{
  font-size: 28px;

}

.bestsellers-item {
  margin: 20px;
  transition: .3s all;
  cursor: pointer;

}

.bestsellers-item:hover, .bestsellers-item:focus, .bestsellers-item:active {
  transform: scale(1.05);
}