.section-arrivals{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrivals-content{
  display: flex;
  flex-direction: column;
}

.arrivals-title{
  text-align: center;
}
