.section-footer {
  background-color: #0e020c;
}

.footer-links {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 0;
}

.footer-root{
  color: #7c7b7b;
  text-align: center;
}